* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  background-color: rgb(207, 210, 223);
  height: 100px;
  padding: 2rem;
  text-align: center;
  font-size: larger;
  font-weight: 800;
}
header {
  font-size: 2rem;
}
main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

button {
  background-color: rgb(180, 184, 197);
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  transition: 0.2s ease-in-out 0s;
  text-shadow: #fff 0px 0px 5px;
  -webkit-font-smoothing: antialiased;
}
.add-button:hover {
  background-color: rgb(134, 240, 157);
}
.remove-button:hover {
  background-color: rgb(240, 134, 134);
}
.add-button:hover {
  background-color: rgb(134, 240, 157);
}
.odd {
  background-color: rgb(181, 208, 250);
}
.even {
  background-color: rgb(223, 52, 52);
}
.display {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-weight: 400;
  font-style: italic;
}
